.news-align .text-link.category {
	text-align: left;
	
}

@media only screen and (max-width: 390px) {
    .leadership-nav li {
        float: center;
	margin-left: auto;
	margin-right: auto;
    }
    .leadership-nav li.active a{
        margin-left: auto;
	margin-right: auto;
    }
    #leadership-tabs-nav .text-link.search {
        margin-left: auto;
	margin-right: auto;
    }
}

<!-- 06/02/2015 -->
.contact-parent {
    display: table;
    width: 100%;
}

.contact-parent div {
    display: table-cell;
}

.contact-us-align {
    text-align: left;
}

.contact-members {
    text-align: right;
    color: white;
    margin-top: -3%;
    font-size: 16px;
    float: right;
}

.contact-members a {
    color: white;
}


@media only screen and (max-width: 1000px) {
    .reason {
        padding: 0%
    }
}