$blue = #337ab7;
$violet = violet;
$green = #5cb85c;
$light-blue = #5bc0de;
$yellow = #f0ad4e;
$red = #d9534f;


body, .navigation {
    // background-color: $yellow;
}
@media (max-width: 1300px) {
body, .navigation {
    background-color: green;
}
}
@media (max-width: 1200px) {
body, .navigation {
    background-color: $violet;
}
	
}
@media screen and (max-width: 991px) {
body, .navigation {
    background-color: $blue;
}
}
@media screen and (max-width: 767px) {
body, .navigation {
    background-color: $green;
}

  
}
@media screen and (max-width: 479px) {
body, .navigation {
    background-color: $light-blue;
}
}


