.ie-image {
	display: none;
}
.ie.ie8 .logo {
	display: none;
}
.ie.ie8 .ie-image {
	display: block;
}
.ie.ie8 .logo.ie-image {
	display: block;
}
.ie.ie8 .ticker .button {
    width: 100px;
}
.ie.ie8 .search-box {
    width: 260px;
    background: #fff;
}