// $blue = #337ab7;
// $green = #5cb85c;
// $light-blue = #5bc0de;
// $yellow = #f0ad4e;
// $red = #d9534f;


body {
    // background-color: $yellow;
}
.search-field-wrapper {
    display: none;
}
@media (max-width: 1300px) {
.w-row.sparkline-row {
    margin: 0 auto;
    width: 95%;
}
}
@media (max-width: 1200px) {
.w-container {
    max-width: 940px;
}
.nav-column-2 {
    width: 56%;
}
.sparkline-body-text {
    width: auto;  
}
.sparkline-block {
    display: table;
    min-height: 216px;
}
.feature-row.padding-narrow .features-items {
    height: auto;
}
.feature-row {
    display: inline;
}
.feature-row {
    display: table;
    margin: 0 auto;
    width: 920px;
}
.blog-content-excerpt {
    width: 70%;
}
.motif-carousel-item {
    width: 100%;
}
.featured-motif-banner-wrapper {
    // width: 50.6%;
}
.col-xs-3.motif-carousel-item:last-child {
    display: none;
}
// Carousel Featured Image Border Mask
.carousel .featured-image-white-line-border {
    height: 192px;
    margin-right: 15px;
    width: 192px;
}
.carousel .featured-image-wrap-outer-border {
    border: 16px solid #e2e2e2;
    height: 187px;
    margin-right: 15px;
    width: 187px;
}
.carousel .featured-image-wrap-inner-border {
    border: 11px solid #fff;
    height: 157px;
    width: 157px;
}
.w-row.learn-row.motifers {
    width: 500px;
}
.motifers .w-col.w-col-3 {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding: 0 5px;
    vertical-align: top;
    width: auto;
}
.motifers .featured-image-wrap-outer-white-border {
    height: 204px;
    width: 204px;
}
.motifers .featured-image-wrap-outer-border {
    height: 202px;
    width: 202px;
}
.motifers .featured-image-wrap-inner-border {
    border: 11px solid #fff;
    height: 170px;
    width: 170px;
}


}
@media screen and (max-width: 991px) {
.w-container {
    max-width: 728px;
}
.nav-column-2 {
    width: 73%;
}
.site-main {
    padding-top: 107px;
}
.search-field-wrapper {
    display: none;
}
.sparkline-block {
    width: 100%;
}
.sparkline-body-text {
    width: auto;
}
.sparkline-block {
    display: table;
}
.expenses-column.blog-tout {
    padding-left: 5px;
    padding-right: 5px;
}
.feature-row {
    display: table;
    width: 545px;
}
.feature-row.padding-narrow .features-items {
    display: inline-block;
    margin: 0 20px 25px;
}
.motifs-features-area .feature-row.padding-narrow .features-items {
    height: auto;
    margin-bottom: -65px;
}
.four-icons-across .feature-row {
    display: table;
    margin: 0 auto 15px;
    width: 540px;
}
.three-icons-across .feature-row {
    width: 540px;
}
.featured-motif-banner-wrapper {
    // width: 77%;
}
.motif-carousel-item {
    width: 100%;
}
.featured-motif-banner-wrapper {
    // width: 65%;
}
.col-xs-3.motif-carousel-item:nth-child(3) {
    display: none;
}
.col-xs-3.motif-carousel-item:nth-child(4) {
    display: none;
}
.featured-motif-banner-wrapper {
    float: none;
    height: 250px;
    width: 100%;
}
.motif-carousel-item {
    width: 33.3%;
}
.col-xs-3.motif-carousel-item:nth-child(3) {
    display: block;
}
.col-xs-3.motif-carousel-item:nth-child(4) {
    display: block;
}
.col-xs-3.motif-carousel-item:last-child {
    position: relative;
    right: auto;
}
// Carousel Featured Image Border Mask
.carousel .featured-image-white-line-border {
    height: 157px;
    margin-right: 15px;
    width: 157px;
}
.carousel .featured-image-wrap-outer-border {
    border: 13px solid #e2e2e2;
    height: 152px;
    margin-right: 15px;
    width: 152px;
}
.carousel .featured-image-wrap-inner-border {
    border: 7px solid #fff;
    height: 125px;
    width: 125px;
}
.press-landing-page .spark-container {
    padding-left: 20px;
    padding-right: 20px;
}
.w-row.learn-row.motifers {
    width: auto;
}
.w-row.learn-row.motifers {
    width: 590px;
}
.motifers .featured-image-wrap-outer-white-border {
    height: 199px;
    width: 199px;
}
.motifers .featured-image-wrap-outer-border {
    height: 196px;
    margin: 0 auto;
    width: 196px;
}
.motifers .featured-image-wrap-inner-border {
    border: 10px solid white;
    height: 170px;
    width: 170px;
}
}
@media screen and (max-width: 767px) {
.site-main {
    padding-top: 68px;
}
.search-field-wrapper {
    display: block;
}
.menu-primary-navigation-container {
    float: right;
    padding-top: 22px;
}
.nav-menu li {
    margin-right: 15px;
}
.search-submit {
    display: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #6f6f6f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #6f6f6f;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #6f6f6f;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #6f6f6f;
}
.nav-column-2 {
    width: 100%;
}
.footer-menu li {
    height: 200px;
    width: 33.3333%;
}
ul.footer-menu li ul li {
    height: auto;
    width: 100%;
}
.nav-menu a {
    font-size: 16px;
}
.features-item-container {
    padding-left: 20px;
    padding-right: 20px;
}
.feature-row {
    display: table;
    width: auto;
}
.feature-row.padding-narrow .features-items {
    float: none;
    height: auto;
    margin: 0 auto 25px;
}
.pull-right .reason-image {
    float: none;
}
.cataglog-how-to-nav {
    display: table;
    float: none;
    margin: 0 auto;
    width: auto;
}
.catalog-img-wrap {
    margin: 0 auto;
    width: 460px;
}
//Hack for menu item links in footer having different heights. Beware when changing menu links in the admin menu!
.footer-menu li.menu-item-193, 
.footer-menu li.menu-item-199, 
.footer-menu li.menu-item-7906 {
    height: 300px;
}
.reason {
    padding-bottom: 0;
}
.reason-image .feature-image {
    margin: 0 auto;
    position: relative;
}
.feature-row.padding-narrow .features-items:nth-child(5) {
    margin-left: auto;
}
.feature-row.padding-narrow .features-items:nth-child(7) {
    margin-left: auto;
}
.catalog-column-1 {
    margin-bottom: 60px;
}
.catalog-row:first-child .w-col-12.clearboth {
    margin-top: 140px;
}
.cataglog-how-to-nav {
    display: table;
    float: none;
    left: 0;
    margin: 60px auto;
    position: absolute;
    right: 0;
    width: auto;
}
.blog-content-excerpt {
    width: 60%;
}
.featured-motif-banner-wrapper {
    float: none;
    width: 100%;
}
.motif-carousel-item {
    width: 50%;
}
.col-xs-3.motif-carousel-item:nth-child(3) {
    display: block;
} 
.motif-carousel-item, 
.motif-carousel-three-wrapper, 
.carousel-inner {
    height: 243px;
}
.featured-motif-banner-wrapper {
    height: 240px;
}
.featured-motif-banner-wrapper .motif-info {
    margin-top: 5px;
}
.featured-motif-banner {
    background-color: rgba(0, 0, 0, 0.49);
    height: 120px;
    position: relative;
    z-index: 100;
}
.featured-motif-banner-wrapper .motif-title {
    margin-bottom: 10px;
}
.motifs-features-area .feature-row.padding-narrow .features-items {
    display: block;
    float: none;
    height: auto;
    margin-bottom: 15px;
}
// Carousel Featured Image Border Mask
.carousel .featured-image-white-line-border {
    border: 2px solid #fff;
    float: none;
    height: 222px;
    margin: 0 auto;
    width: 222px;
}
.carousel .featured-image-wrap-outer-border {
    border: 16px solid #e2e2e2;
    height: 217px;
    margin: 0 auto;
    width: 217px;
}
.carousel .featured-image-wrap-inner-border {
    border: 11px solid #fff;
    height: 187px;
    width: 187px;
}
.carousel .post-thumbnail .wp-post-image {

}
// Gform
.contact-us-form-wrapper {
    width: auto;
}
.contact-us-form-wrapper .gform_body {
    float: none;
    margin: 0 auto;
    width: 360px;
}
.contact-us-form-wrapper .gform_body {
    float: none;
    width: 400px;
}
.contact-us-form-wrapper .gform_wrapper .gform_footer {
    clear: none;
    float: none;
    margin: 12px auto 0;
}
.gform_button.button[type="submit"] {
    display: table;
    float: none;
    margin: 0 auto;
}
.carousel .featured-image-wrap-outer-border {
    float: none;
    margin-bottom: 10px;
}
.leadership-nav {
    padding: 0;
}
.leadership-tabs ul li {
    float: none;
    margin: 0 auto;
    padding: 10px 0;
}
.leadership-tabs ul li {
    float: none;
    margin: 0 auto;
}
.leadership-nav li a.search {
    margin: 0;
    padding: 0;
}
.tab-wrapper img {
    margin: 0 auto 20px;
    width: 400px;
}
.featured-motif-banner {
    height: 58px;
}
.motif-of-the-week .carousel-control.left, 
.motif-of-the-week .carousel-control.right {
    top: -243px;
}
.newsworthy-motifs .carousel-control.left, 
.newsworthy-motifs .carousel-control.right {
    top: -243px;
}
.motifers .featured-image-wrap-inner-border {
    height: 170px;
    width: 170px;
}
.motifers .featured-image-wrap-outer-border {
    border: 16px solid #e2e2e2;
    height: 202px;
    margin: 0 auto;
    width: 202px;
}
.motifers .featured-image-wrap-outer-white-border {
    height: 204px;
    width: 204px;
}
}
@media screen and (max-width: 479px) {
.site-main {
    padding-top: 107px;
}
.menu-primary-navigation-container {
    float: right;
    padding-top: 0;
}
.nav-menu li {
    margin-left: 20px;
    margin-right: 0;
    margin-top: 18px;
    padding-bottom: 6px;
}
.nav-menu a {
    color: #3aad2a;
    display: inline-block;
    padding-bottom: 0px;
}
.footer-menu li {
    height: 200px;
    width: 50%;
}
//Hack for menu item links in footer having different heights. Beware when changing menu links in the admin menu!
.footer-menu li.menu-item-193, 
.footer-menu li.menu-item-199, 
.footer-menu li.menu-item-7906 {
    height: 260px;
}
.four-icons-across .feature-row {
    width: auto;
}
.three-icons-across .feature-row {
    width: auto;
}
.features {
    overflow: hidden;
}
.feature-row.padding-narrow .features-items:nth-child(5) {
    margin-left: auto;
}
.catalog-img-wrap {
    width: 320px;
}
.post .featured-image-wrap-outer-border {
    float: none;
    margin: 0 auto 20px;
    padding: 0;
}
.featured-image-wrap-outer-border {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.blog-content-excerpt {
    margin: 0 auto;
    width: auto;
}
.motif-carousel-item {
    width: 100%;
}
.col-xs-3.motif-carousel-item:nth-child(3) {
    display: none;
}
.featured-motif-banner-wrapper {
    display: none;
}
.contact-us-form-wrapper .gform_body {
    float: none;
    width: 280px;
}
.press-landing-page .spark-container {
    padding-left: 20px;
    padding-right: 20px;
}
.news-tab-pane {
    height: auto;
}
}


