.reason {
-ms-behavior: url(/backgroundsize.min.htc);
	behavior: url(/backgroundsize.min.htc);
}
.reason.what-motif {
-ms-behavior: url(/backgroundsize.min.htc);
	behavior: url(/backgroundsize.min.htc);
}
.w-container{position:relative;}

.cataglog-how-to-nav{position:absolute; right:0px; top:0px;}


@media (max-width: 767px) {

.blog .post .wp-post-image{width:78px; height:78px;}

.search-column-1 .article-wrap{margin-top:0px;}

}

@media (max-width: 980px) {

.overscroll {  overflow-x: scroll; }
/* in order to have responsive tables in different formats, webflow grid expects two tables,  one for smaller screens and one for bigger screens. this hides the bigger table for bigger screens at smaller resolutions, so we need to display non on it 
.w-hidden-small.w-hidden-tiny.table {  display: block !important;   max-width: 980px;  width: 980px; }

} */

.grid-block.stroke{margin-right:-1px;}
.grid-block.border-left{border-left:1px solid #dedede;}
h2{padding-left:0px; padding-right:0px;}
.sparkline-body-text{margin:0 auto;}